
{%extends 'layout.html' %}

{%block content %}


<form action="/procesar" method="POST">
    <div class="container">
        <div class="row">
        <!-- Sección de datos de entrada -->
            <div class="col-md-6">
                
                <div class="form-floating mb-3 mt-5">
                    <input type="text" class="form-control" id="nombre" name="nombre" required placeholder="Ex: Carlos">
                    <label for="nombre">Nombre</label>
                </div>
                    

                <div class="form-floating mb-3 mt-5">
                    <input type="number" class="form-control" id="cantidadCompradores" name="cantidadCompradores" required placeholder="Ex: 10">
                    <label for="cantidadCompradores">Cantidad de compradores</label>
                </div>

                <div class="form-group mt-5 custom-background">
                    <label>Tarjeta Cineco:</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="pagoRadio" id="si" value="si" required>
                        <label class="form-check-label" for="si">Sí</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="pagoRadio" id="no" value="no" required>
                        <label class="form-check-label" for="no">No</label>
                    </div>
                </div>

                <div class="form-floating mb-3 mt-5">
                    <input type="text" class="form-control" id="cantidadBoletos" name="cantidadBoletos" required placeholder="Ex: Carlos">
                    <label for="cantidadBoletos">Cantidad de boletos</label>
                </div>

            </div>

            <!-- Sección del input de cantidad a pagar -->
            
            <div class="col-md-6">
                <div class="form-control mb-3 mt-5">
                    <label for="cantidadPagar">{{nom}} Tu cantidad a Pagar es:</label>
                    <input type="text" class="form-control" id="cantidadPagar" name="cantidadPagar" readonly value="{{ canPag }}">
                </div>
            </div>
        </div>

        <!-- Sección de botones -->
        <div class="row mt-5">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" name="accion" value="procesar">Procesar</button>
            </div>
        </div>
    </div>
</form>

<!-- Link to Bootstrap JavaScript files -->
<script src="../static/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>

{%endblock%}